$application-title-bar-background: rgb(51, 51, 51);
$application-title-color: rgb(71, 187, 179);
$callout-text-color: rgba(251, 0, 253, 0.7);
$max-line-width: 30em;
$details-title-font-size: 28px;
$horizontal-splitter-thickness: 8px;
$title-bar-height: 2.5em;

a.tool-tip {
    display: inline;
    position: relative;
}

a.tool-tip:after {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    bottom: 0;
    color: #fff;
    content: attr(data-tip);
    display: block;
    font-size: 11pt;
    height: auto;
    left: 20%;
    min-width: 15em;
    opacity: 0;
    padding: 5px 8px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    visibility: hidden;
    width: auto;
    z-index: 999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

a.tool-tip.bottom:after {
    bottom: auto;
    top: 0;
}

a.tool-tip.bottom:before {
    border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
    border-width: 0 5px 8.7px 5px;
    top: 0;
}

a.tool-tip.bottom:hover:after {
    top: 28px;
}

a.tool-tip.bottom:hover:before {
    top: 20px;
}

a.tool-tip:before {
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    bottom: 0px;
    content: "";
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0;
}

a.tool-tip:hover:after {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
}

a.tool-tip:hover:before {
    bottom: 14px;
    opacity: 1;
    visibility: visible;
}

.application-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.application-header {
    height: $title-bar-height;
    position: absolute;
    width: 100%;
}

.application-title-bar {
    background: $application-title-bar-background;
    height: $title-bar-height;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    width: 100%;
}

.application-title-bar-text {
  color: $application-title-color;
  line-height: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 16pt;
  vertical-align: middle;
}

#cc-help-popover {
    background: rgb(240, 240, 240);
    border: 5px solid rgb(35, 35, 35);
    border-radius: 10px;
    position: absolute;
    width: 40em;
    visibility: hidden;

    &:after {
        border-color: rgb(236, 236, 236) transparent;
        border-style: solid;
        border-width: 0 13px 14px;
        bottom: auto;
        content: "";
        display: block;
        left: 18px;
        position: absolute;
        right: auto;
        top: -13px;
    }

    &:before {
        border-color: rgb(35, 35, 35) transparent;
        border-style: solid;
        border-width: 0 20px 20px;
        bottom: auto;
        content: "";
        display: block;
        left: 10px;
        position: absolute;
        right: auto;
        top: -20px;
        width: 0;
    }

    .cc-help-popover-content {
        padding: 20px;
    }

    &.cc-modal-dialog {
        visibility: visible;
        z-index: 1050;
    }
}

.cc-no-left-padding {
    padding-left: 0;
}

#cc-popover-blocker {
    border: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -1;

    &.cc-is-popover-visible {
        visibility: visible;
        z-index: 1031;
    }
}

.details {
    background: white;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
}

.details-container {
    bottom: 0;
    font-size: $details-title-font-size;
    left: 0;
    overflow: auto;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    right: 0;
    top: 2.5em;
}

.details-content-area {
    bottom: 0;
    font-size: 1.6em;
    left: 0;
    line-height: 0.6em;
    margin-top: 2em;
    overflow: auto;
    right: 0;
    top: 0;
}

.details-content-area h2:first-child {
    line-height: 1em;
    margin-top: 0;
}

.details-title {
    background: #E63D2F;
    color: white;
    font-size: $details-title-font-size;
    font-weight: normal;
    height: $title-bar-height;
    left: 0;
    letter-spacing: 0.04em;
    line-height: $title-bar-height;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    word-spacing: 0.1em;

    a {
        color: white;

        &:hover {
            color: yellow;
        }
    }
}

.example-box {
    border: 1px dashed $callout-text-color;
    min-height: 4em;
    width: 100%;
}

.example-header {
    color: $callout-text-color;
    font-weight: bold;
    padding-bottom: 1.5em;
}

.example-ui {
    border: solid 1px #e0e0e0;
    border-radius: 0.6em;
    font-size: 14px;
    padding: 2em;
}

.heading-description {
    font-family: Courier, "Courier New", monospace;
}

.heading-description-cell {
    padding: 20px;
}

.horizontal-split-pane {
    bottom: 0;
    position: absolute;
    top: $title-bar-height;
    width: 100%;
}

.horizontal-splitter {
    background: yellow;
    height: 100%;
    left: 25%;
    position: absolute;
    width: $horizontal-splitter-thickness;
}

html {
    overflow: hidden;
}

.inline-right {
    float: right;
    height: 100%;
    vertical-align: middle;

    :last-child.cc-secondary-button {
        margin-right: 0;
    }
}

.main-content-area-marker {
    left: 50%;
    line-height: 4em;
    text-align: center;
    top: 50%;
}

.navigation {
    background: #f5f5f5;
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 25%;
}

.navigation-item-level1 {
    font-size: 12pt;
    font-weight: bold;
    padding: 0.5em 1.2em;
}

.navigation-item-level2 {
    font-size: 12pt;
    font-weight: normal;
    padding: 0.5em 1.2em 0.5em 2.2em;
}

p.description {
    margin-bottom: 0.5em;
    max-width: $max-line-width;
}

p.description ol {
    -webkit-margin-start: 1em;
    margin-start: 1em;
    padding: 0.5em 1em 0.5em;
}

p.description ol li {
    max-width: $max-line-width;
    padding-bottom: 0.5em;
}

p.description ul {
    -webkit-margin-start: 1em;
    margin-start: 1em;
    padding: 0.5em 1em 0.5em 2em;
}

p.description ul li {
    max-width: $max-line-width;
    padding-bottom: 0.5em;
}

p.source-link {
    font-size: -4pt;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.required-field-asterisk {
    // TODO - We should reference the $cc-required-field-asterisk-color SASS variable defined in common-ui-components here.
    color: rgb(251, 31, 20);
}

.required-fields-indicator {
    color: #808080;
    font-style: italic;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.table-two-button-cell {
    width: 12em;
}

.table-row {
    display: table-row;
}

.vertical-scroll-pane {
}
