<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ACE User Interface Style Guide</title>
    <meta name="description" content="Web application that demonstrates style guidelines for Comcast VIPER Alternate Content Engineering (ACE) web applications.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="common-ui-components/images/thistech-favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    {{content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/ui-style-guide.css">

    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/ui-style-guide.js"></script>

    {{content-for 'body-footer'}}
  </body>
</html>
