<div class="details-title">Alerts</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>
                    Standard messages appear at the top of the page and disappear after
                    {{#cc-text-note note="How many seconds?"}}(x) seconds{{/cc-text-note}}.
                </li>

                <li>
                    Action Prompt messages appear at the top of the page, and persist until the user closes
                    the message or clicks within the message.
                </li>
            </ol>
        </p>
    </div>
</div>