<button id="cc-popover-blocker" {{action "hideHelpPopover"}} class={{if isHelpPopupVisible cc-is-popover-visible hidden}}></button>
<div class="application-container">
    <div class="application-header">
        <div class="application-title-bar"><span class="application-title-bar-text">ACE User Interface Style Guide</span></div>
    </div>
    <div class="horizontal-split-pane">
        <div id="cc-help-popover" class={{if isHelpPopupVisible cc-modal-dialog hidden}}>
            <div class="cc-help-popover-content">
                {{{helpPopoverContent}}}
            </div>
        </div>
        <div class="navigation">
            <div class="vertical-scroll-pane">
                <div class="navigation-list">
                    <div class="navigation-item-level1">{{#link-to "introduction"}}Introduction{{/link-to}}</div>
                    <div class="navigation-item-level1">{{#link-to "header-and-navigation-bar"}}Header and Navigation Bar{{/link-to}}</div>
                    <div class="navigation-item-level1">{{#link-to "footer"}}Footer{{/link-to}}</div>
                    <div class="navigation-item-level1">{{#link-to "form-elements"}}Form Elements{{/link-to}}
                        <div class="navigation-item-level2">{{#link-to "form-layout"}}Form Layout{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "label-styling"}}Label Styling{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "text-fields"}}Text Fields{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "buttons"}}Buttons{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "checkboxes"}}Checkboxes{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "radio-buttons"}}Radio Buttons{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "drop-down-menus"}}Drop-down Menus{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "help-flyouts"}}Help Flyouts{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "tip-flyouts"}}Tip Flyouts{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "search"}}Search{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "date-picker"}}Date Picker{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "multiple-select"}}Multiple Select{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "progressive-ui"}}Progressive UI{{/link-to}}</div>
                    </div>
                    <div class="navigation-item-level1">{{#link-to "alerts"}}Alerts{{/link-to}}</div>
                    <div class="navigation-item-level1">{{#link-to "errors"}}Errors{{/link-to}}</div>
                    <div class="navigation-item-level1">{{#link-to "templates"}}Templates{{/link-to}}
                        <div class="navigation-item-level2">{{#link-to "login-page"}}Login Page{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "main-or-hub-pages"}}Main or Hub Pages{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "detail-pages"}}Detail Pages{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "create-or-edit-pages"}}Create or Edit Pages{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "operations-log"}}Operations Log{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "historical-query"}}Historical Query{{/link-to}}</div>
                    </div>
                    <div class="navigation-item-level1">{{#link-to "tables"}}Tables{{/link-to}}
                        <div class="navigation-item-level2">{{#link-to "table-general"}}General{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "table-pagination"}}Pagination{{/link-to}}</div>
                    </div>
                    <div class="navigation-item-level1">{{#link-to "modal-dialogs"}}Modal Dialogs{{/link-to}}
                        <div class="navigation-item-level2">{{#link-to "modal-dialog-general"}}General{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "modal-dialog-help"}}Help{{/link-to}}</div>
                        <div class="navigation-item-level2">{{#link-to "modal-dialog-interstitial"}}Interstitial{{/link-to}}</div>
                    </div>
                    <div class="navigation-item-level1">{{#link-to "date-and-time"}}Date and Time{{/link-to}}
                        <div class="navigation-item-level2">{{#link-to "time-zones"}}Time Zones{{/link-to}}</div>
                    </div>
                    <div class="navigation-item-level1">{{#link-to "no-content-states"}}No Content States{{/link-to}}</div>
                    <div class="navigation-item-level1">{{#link-to "expand-contract-controls"}}Expand/Contract Controls{{/link-to}}</div>
                    <div class="navigation-item-level1">{{#link-to "headings-and-content"}}Headings and Content{{/link-to}}</div>
                </div>
            </div>
        </div>
        <div class="details">{{outlet}}</div>
    </div>
</div>