<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Buttons</div>
<div class="details-container">
    <div class="details-content-area">
        <h2>Primary and Secondary Buttons</h2>
        <p class="description">
            <ul>
              <li>Primary buttons should be used for the primary action on the page.</li>
              <li>Primary buttons should be used sparingly.</li>
              <li>Primary buttons should only be used with a secondary button. There should never be two or more
                  primary buttons grouped together.</li>
              <li>Secondary buttons or text links should be used in all other instances.</li>
            </ul>
            <div class="example-ui">
                {{#cc-button-bar}}
                    {{cc-primary-button}}
                    {{#cc-secondary-button}}Button Label{{/cc-secondary-button}}
                {{/cc-button-bar}}
            </div>
        </p>

        <h2>Ordering and Spacing</h2>

        <p class="description">
            Secondary buttons should reside to the right of the primary button. Only one primary button should be
            used per grouping. However, multiple secondary buttons can be used per grouping:
        </p>

        <div class="example-ui">
            {{#cc-button-bar}}
                {{cc-primary-button}}
                {{#cc-secondary-button}}Button Label{{/cc-secondary-button}}
                {{#cc-secondary-button}}Button Label{{/cc-secondary-button}}
                {{#cc-secondary-button}}Button Label{{/cc-secondary-button}}
            {{/cc-button-bar}}
        </div>

        <h2>Cancel Buttons</h2>

        <p class="description">
            Cancel buttons should be text and reside to the right of the primary action. The visual distinction helps users
            avoid taking the wrong action.
        </p>

        <div class="example-ui">
            {{#cc-button-bar}}
                {{cc-primary-button}}
                <a href="">Cancel</a>
            {{/cc-button-bar}}
        </div>

        <h2>Table Buttons</h2>

        <p class="description">
            <ul>
                <li>Appear in the far right column</li>
                <li>No column header</li>
                <li>Same ordering logic as described above</li>
            </ul>
        </p>

        <div class="example-ui">
            <table class="table table-hover table-striped cc-table">
                <thead>
                  <tr>
                    <th>Label</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>ESAM 2014-09-08</td>
                      <td class="table-two-button-cell">
                          {{#cc-primary-table-button}}Edit{{/cc-primary-table-button}}
                          {{#cc-secondary-table-button}}Delete{{/cc-secondary-table-button}}
                      </td>
                  </tr>
                </tbody>
            </table>
        </div>

        <h2>Action Buttons</h2>
        <p class="description">
            <ul>
                <li>
                    Action buttons appear in the upper right corner of the page, and they represent
                    the primary action for a page.
                </li>
                <li>
                    In some cases there is more than one primary action. These should appear from left to right.
                </li>
            </ul>
            <div class="example-ui">
                <h2>Page Title
                    {{#cc-button-bar class="inline-right"}}
                        {{#cc-primary-button}}{{/cc-primary-button}}
                        {{#cc-secondary-button}}Button Label{{/cc-secondary-button}}
                    {{/cc-button-bar}}
                </h2>
                <div class="example-box">
                    <div class="main-content-area-marker">Main Content Area</div>
                </div>
            </div>
        </p>
    </div>
</div>