<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Checkboxes</div>
<div class="details-container">
    <div class="details-content-area">
        <h2>Multiple Select</h2>

        <p class="description">
            Use multiple check boxes for mult-select scenarios in which a user chooses one or more items from a group of
            choices that are not mutually exclusive.
        </p>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                <label class="control-label">Label:</label>
                {{cc-checkbox title="Value 1"}}
                {{cc-checkbox title="Value 2"}}
            {{/cc-form}}
        </div>

        <h2>Single Checkbox</h2>

        <p class="description">
            Use a single check box for a binary yes/no choice, such as with an "Enable Me" scenario. Word the text
            content as a statement that the check mark makes true, and the absence of a check mark makes false.
        </p>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                {{cc-checkbox title="Enable feature x"}}
            {{/cc-form}}
        </div>
    </div>
</div>
