<div class="details-title">{{#link-to "templates" class="tool-tip top" data-tip="Back to Templates"}}Templates{{/link-to}} &gt; Create or Edit Pages</div>
<div class="details-container">
    <div class="details-content-area">

    </div>
</div>