<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Date Picker</div>
<div class="details-container">
    <div class="details-content-area">

    </div>
</div>