<div class="details-title">{{#link-to "templates" class="tool-tip top" data-tip="Back to Templates"}}Templates{{/link-to}} &gt; Detail Pages</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            The View page layout differs from the Create and Edit pages:
            <ol>
                <li>To allow for more content in the viewport</li>
                <li>So information is easier to parse</li>
                <li>As an indicator to the user that they are in view mode</li>
            </ol>
        </p>
    </div>
</div>