<div class="details-title">{{#link-to "form-elements" class="tool-top top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Drop-down Menus</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            With a drop-down menu, also known as a combo box, users make a choice among a list of mutually exclusive values.
            Users can only choose one option.
            <ol>
                <li>
                    Choose a width appropriate for the longest valid data. Drop-down lists cannot be scrolled
                    horizontally, so users can only see what is visible in the control. Choose a list length that eliminates
                    unnecessary vertical scrolling. Because drop-down lists are displayed on demand, their lists should show up
                    to 30 items.
                </li>

                <li>
                    Sort list items in a logical order, such as grouping highly related options together, placing the most
                    common options first, or using alphabetical order. Sort names in alphabetical order, numbers in numeric
                    order, and dates in chronological order. Lists with 12 or more items should be sorted alphabetically
                    to make items easier to find.
                </li>

                <li>
                    Indicate when they are labels and not data. This is done by displaying the text in italics. When
                    a drop-down doesn't have a default value, its should display the text 'Please Select'
                    {{#cc-text-note note="There is no cross-browser way to italicize an HTML select option"}}in italics{{/cc-text-note}}.
                </li>
            </ol>
            <div class="example-ui">
                <form class="form-horizontal">
                    <div class="form-group has-feedback">
                        <label class="control-label">State:</label>
                    </div>
                    {{cc-select content=model.states
                          optionLabelPath="name"
                          optionValuePath="id"
                          value="MA"
                    }}
                </form>

                <form class="form-horizontal">
                    <div class="form-group has-feedback">
                        <label class="control-label">State:</label>
                    </div>
                    <div>
                        {{cc-select
                            content=content.states
                            optionLabelPath="name"
                            optionValuePath="id"
                            prompt="Please Select"
                            value=null
                        }}
                    </div>
                </form>
            </div>
        </p>

        <h2>When a Drop-down Only Has One Value</h2>

        <p class="description">
            If a drop-down has only one value, simply display it as static text. Also, change the label to bold
            (see {{#link-to 'label-styling'}}<i>Form UI Elements - Label Styling</i>{{/link-to}}).
        </p>

        <div class="example-ui">
            <form class="form-horizontal">
                <div class="form-group has-feedback">
                    <label class="control-label">State:</label>
                </div>
                <div style="margin-left: 15px;">Alabama</div>
            </form>
        </div>

        <h2>When to Make a Drop-down Required</h2>

        <p class="description">
            <ol>
                <li>
                    Sometimes we have a default value for a drop-down. In this case, "Please Select" is not an option and
                    therefore cannot result in an error state. Because of this, there is no reason to display a red asterisk.
                </li>

                <li>
                    For drop-downs that are required and have no default values, we include the red asterisk along with
                    "Please Select".
                </li>
            </ol>

            <div class="example-ui">
                <div style="display: table;">
                    <div style="display: table-row;">
                        <div style="color: rgba(251, 0, 253, 0.7);display: table-cell;">Default value:</div>
                        <div style="color: rgba(251, 0, 253, 0.7); display: table-cell;">No default value AND required:</div>
                    </div>
                    <div style="display: table-row;">
                        <div style="display: table-cell; padding-right: 7px;">
                            <form class="form-horizontal" style="display: table-cell; padding-right: 7px;">
                                <div class="form-group has-feedback">
                                    <label class="control-label" style="margin-left: 15px;">Label:</label>
                                </div>
                                <div style="margin-left: 15px;">
                                  {{cc-select
                                    content=model.foods
                                    optionLabelPath="name"
                                    optionValuePath="id"
                                    value="Pizza"
                                  }}
                                </div>
                            </form>
                        </div>

                        <div style="display: table-cell;">
                            <form class="form-horizontal" style="display: table-cell;">
                                <div class="form-group has-feedback">
                                    <label class="control-label cc-control-label-required" style="margin-left: 15px;">Label:</label>
                                </div>
                                <div style="margin-left: 15px;">
                                    {{cc-select
                                        content=model.states
                                        optionLabelPath="name"
                                        optionValuePath="id"
                                        prompt="Please Select"
                                        required=true
                                        value=null
                                    }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </div>
</div>