<div class="details-title">Errors</div>
<div class="details-container">
    <div class="details-content-area">
        <h2>Contextual Messaging</h2>
        <p class="description">
            Errors should be indicated by highlighting a form elemetn accompanied by an error icon and a statement.
            The error statement should offer suggestions to complete the input field properly. The error state
            should persist until the user tabs out of the current field or clicks on another field. For example,
            for a Zip code error, the statement would read "Please enter 5 digits," since we know five digits are
            required for Zip codes.
        </p>

        <h2>Error Messages (Alerts)</h2>
        <p class="description">
            <ol>
                <li>
                    If a user submits a form with errors, display a message at the top of the page. The message should appear at the
                    top of the main content area withe the page auto-scrolled to the top so the message is visible in the viewport.
                </li>

                <li>
                    For cases where there are multiple erros, the messages would stack on top of each other.
                </li>
            </ol>
        </p>

        <h2>Character Limits</h2>
        <p class="description">
            <ol>
                <li>
                    Include a red  character counter that counts down until the user exceeds the limit, at which point the value goes into the
                    negative and turns red.
                </li>

                <li>
                    Once the user is over the limit the text gets highlighted in red and an error message appears.
                </li>
            </ol>
        </p>
    </div>
</div>