<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Form Layout</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            Left align with text labels above the inputs allows for quick scanning and faster completion times.
            This strong vertical axis of labels, input fields, and a primary action button provides a single path
            through the form. This allows people to respond quickly to questions and complete their task with a
            minimum number of diversions. This also allows for varied label lengths.
        </p>

        <h2>Example</h2>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                {{cc-url-field
                    emptyValueMessage="Web address is required"
                    fieldClasses="col-md-6"
                    id="url-field"
                    isRequired=true
                    label="Web Address"
                    restriction="Web addresses cannot contain spaces or other special characters"
                    spellcheck=false
                }}

                {{cc-text-field
                    fieldClasses="col-md-8"
                    id="series-name-field"
                    label="Series Name"
                    spellcheck=true
                }}

                {{#cc-button-bar}}
                    {{#cc-primary-button}}Submit{{/cc-primary-button}}
                    {{#cc-link-button}}Cancel{{/cc-link-button}}
                {{/cc-button-bar}}

                {{cc-required-fields-indicator}}
            {{/cc-form}}
        </div>

        <p class="source-link">
            <a href="https://bitbucket.org/snippets/tom_carroll_thistech/6Led4#file-snippet.txt">View the example's source code</a>
        </p>
    </div>
</div>