<div class="details-title">Headings and Content</div>
<div class="details-container">
    <div class="details-content-area">
        <h2>Headlines</h2>
        <p class="description">
            All headlines use HEX color #484641.
        </p>

        <table>
            <tr>
                <td class="heading-description-cell">
                    <h1>Heading One</h1>
                    <div class="heading-description">font-family: Arial;</div>
                    <div class="heading-description">font-size: 36px;</div>
                    <div class="heading-description">line-height: 39px;</div>
                    <div class="heading-description">font-weight: bold;</div>
                </td>

                <td class="heading-description-cell">
                    <h2>Heading Two</h2>
                    <div class="heading-description">font-family: Arial;</div>
                    <div class="heading-description">font-size: 28px;</div>
                    <div class="heading-description">line-height: 35px;</div>
                    <div class="heading-description">font-weight: normal;</div>
                </td>

                <td class="heading-description-cell">
                    <h3>Heading Three</h3>
                    <div class="heading-description">font-family: Arial;</div>
                    <div class="heading-description">font-size: 18px;</div>
                    <div class="heading-description">line-height: 25px;</div>
                    <div class="heading-description">font-weight: normal;</div>
                </td>
            </tr>
            <tr>
                <td class="heading-description-cell">
                    <h4>Heading 4</h4>
                    <div class="heading-description">font-family: Arial;</div>
                    <div class="heading-description">font-size: 16px;</div>
                    <div class="heading-description">line-height: 23px;</div>
                    <div class="heading-description">font-weight: normal;</div>
                </td>

                <td class="heading-description-cell">
                    <h5>Heading 5</h5>
                    <div class="heading-description">font-family: Arial;</div>
                    <div class="heading-description">font-size: 14px;</div>
                    <div class="heading-description">line-height: 21px;</div>
                    <div class="heading-description">font-weight: normal;</div>
                </td>

                <td class="heading-description-cell">
                    <h6>Heading 6</h6>
                    <div class="heading-description">font-family: Arial;</div>
                    <div class="heading-description">font-size: 12px;</div>
                    <div class="heading-description">line-height: 19px;</div>
                    <div class="heading-description">font-weight: normal;</div>
                </td>
            </tr>
        </table>

        <h2>Body Copy</h2>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante leo, lacinia at pellentesque at,
            mollis quis mi. Nam ut velit nec dui placerat elementum. Sed a ipsum felis. Nullam accumsan luctus dolor,
            at interdum uma porta non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Aliquam eu nisl in massa solicitudin pellentesque. Sed at lacinia dui. Donec porta nisi in lectus
            semper euismod.
        </p>

        <h2>Unordered List</h2>

        <ul>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item</li>
        </ul>

        <h2>Ordered List</h2>

        <ol>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item</li>
        </ol>
    </div>
</div>