<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Help Flyouts</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>
                    Help flyouts are triggered on-click. This way we can avoid inadvertent events and use click-tracking
                    in the future. Users can click anywhere outside of the flyout to dismiss it.
                </li>

                <li>
                    When using acronyms, included what they mean in the flyout title. Also, users may have already clicked
                    inside the text field when they activate the flyout. In this case, the field's hint text would not
                    be visible. Because of this, it would also be good to include an example as part of the flyout text.
                </li>

                <li>
                    Sometimes pages will require numerous help flyouts. In which case, it might be good to use a Help Modal
                    (see {{#link-to modal-dialog-help}}Help Modals{{/link-to}}) as we want to avoid cluttering the page
                    with help icons. There is no rule for when Help Modals should be used in place of help flyouts. This
                    should be determined on a case-by-case basis.
                </li>
            </ol>

            <div class="example-ui">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div style="margin-bottom: 10px; margin-left: 15px;">
                            <label class="control-label">Label:</label>
                        </div>
                        <div class="col-md-4">
                            <div style="display: inline-table;">{{cc-text-input}}{{cc-help-popup-button action="showHelpPopover" html=html}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </p>
    </div>
</div>