<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Label Styling</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            On forms, there are some instances where we have static, un-editable text in place of an input. In these
            cases, it's best to display the label in bold. We do this
            <ol>
                <li>To visually indicate that the item is un-editable</li>
                <li>To help differentiate the label from the value</li>
                <li>To be consistent with the styling established on the View page</li>
            </ol>
        </p>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                <div class="form-group">
                    <div class="example-header">Create/Edit:</div>
                    {{cc-text-field
                        fieldClasses="col-md-6"
                        id="series-field"
                        label="Series Name"}}
                </div>
            {{/cc-form}}
        </div>

        <p class="source-link">
            <a href="https://bitbucket.org/snippets/tom_carroll_thistech/dRLqj#file-snippet.txt">View source code for editable field example</a>
        </p>

        <p class="description">&nbsp;</p>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                <div class="form-group">
                    <div class="example-header">View (read-ony):</div>
                    {{cc-read-only-form-field
                        fieldClasses="col-md-6"
                        id="series-read-only-field"
                        label="Series Name"
                        value="30 Rock"
                    }}
                </div>
            {{/cc-form}}
        </div>

        <p class="source-link">
            <a href="https://bitbucket.org/snippets/tom_carroll_thistech/bRLqG#file-snippet.txt">View source code for the read-only field example</a>
        </p>
    </div>
</div>