<div class="details-title">{{#link-to "templates" class="tool-tip top" data-tip="Back to Templates"}}Templates{{/link-to}} &gt; Login Page</div>
<div class="details-container">
    <div class="details-content-area">
        <h2>Login Page</h2>
        <p class="description">
        </p>
        <div class="example-ui">
            {{cc-login}}
        </div>
    </div>
</div>