<div class="details-title">{{#link-to "templates" class="tool-tip top" data-tip="Back to Templates"}}Templates{{/link-to}} &gt; Main or Hub Pages</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            Main or Hub pages serve as an overview for a particular feature or category. Content is displayed in a table format.
            This allows users to compare items, and perform actions or operations without having to drill into the
            {{#link-to "detail-pages"}}Detail Page{{/link-to}}.
        </p>
    </div>
</div>