<div class="details-title">{{#link-to "modal-dialogs" class="tool-tip top" data-tip="Back to Modal Dialogs"}}Modal Dialogs{{/link-to}} &gt; General Guidelines</div>
<div class="details-container">
    <div class="details-content-area">
        <h2>Information Modal Dialogs</h2>
        <p class="description">
            <ol>
                <li>Modal titles should be clear and concise. Wording should be consistent with the UI element that spawned it.</li>
                <li>Include a control to close the modal. Behaves the same as cancel.</li>
                <li>Buttons are left-aligned and hierarchy goes from left to right.</li>
                <li>The secondary button style should be used in modal dialogs. If there is more than one action
                    used in the modal, a primary button can be used. The ordering should be, from left to right,
                    (Primary) button, (Secondary) button.
                </li>
            </ol>
        </p>

        <h2>Modal Dialogs that Require an Action</h2>
        <p class="description">
            <ol>
                <li>Sometimes we ask the user to make a choice. In which case we remove the Close control in the upper right corner.</li>
            </ol>
        </p>

        <h2>Modal Dialogs that Prevent Loss of Data</h2>
        <p class="description">
            <ol>
                <li>
                    In some cases, present users with a message informing them a catastrophic loss of data might occur if they proceed
                    with an action.
                </li>
            </ol>
        </p>
    </div>
</div>