<div class="details-title">{{#link-to "modal-dialogs" class="tool-tip top" data-tip="Back to Modal Dialogs"}}Modal Dialogs{{/link-to}} &gt; Interstitial</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>
                    In the case where a user tries to navigate away from a page that is being created or edited,
                    present a message informing them a catastrophic loss of data might occur if they proceed with an action.
                </li>
            </ol>
        </p>
    </div>
</div>