<div class="details-title">{{#link-to "modal-dialogs" class="tool-tip top" data-tip="Back to Modal Dialogs"}}Modal Dialogs{{/link-to}} &gt; Help</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            Help modals should be used in the following situations:
            <ul>
                <li>For pages that require support for new concepts or overview content (i.e. Hub Pages).</li>
                <li>When help content is too long for a flyout.</li>
                <li>When more than one UI element is being referenced.</li>
                <li>When the UI would be cluttered by too many contextual help flyouts (i.e. Ad Maps)</li>
            </ul>
        </p>
    </div>
</div>