<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Multiple Select</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            The simultaneous selection of a group of times is called a multiple selection. Multiple selection is exposed in the UI as a
            drop-down with a list of items that can be selected or deselected by clicking the checkboxes. A jQuery example of element
            can be found at <a href="http://wenzhixin.net.cn/p/multiple-select/docs/#examples">http://wenzhixin.net.cn/p/multiple-select/docs/#examples</a>
        </p>
    </div>
</div>