<div class="details-title">No Content States</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>
                    There are instances where a page may not have any data or information to display. Instead of leaving the page blank,
                    display a message informing the user that this is the case. It's best to include a way for them to perform an
                    action relevant to the page they're viewing or the task at hand.
                </li>

                <li>
                    For example:
                        <div class="example-ui">
                        </div>

                        The preceding example does the following.
                        <ol>
                            <li>It tells the user that she doesn't have any assets.</li>
                            <li>It explains to users the relationship between Assets and Asset Templates.</li>
                            <li>It provides a link to the Asset Template create page.</li>
                        </ol>
                </li>
            </ol>
        </p>
        <a href="http://blog.invisionapp.com/why-empty-states-deserve-more-design-time/">Why Empty States Deserve More Design Time</a>
    </div>
</div>