<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Progressive UI</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>
                    Control groups can be added and stacked. The Add control appears under the last (bottom) form element. Use
                    button labels that are clear and explicit.
                </li>

                <li>
                    The first filter control group cannot be deleted. It can only be cleared. Clearing results in restoring it to its
                    default state.
                </li>

                <li>
                    Subsequent control groups can be removed. Removing a control shifts the stack up.
                </li>

                <li>
                    Controls are grouped horizontally. This allows for a compact grouping of the entire Progressive UI element.
                </li>

                <li>
                    If one or more columns or sub-elements within a progressive UI element requires a label, then ALL columns
                    should have one. This helps with formatting and consistency. In some cases, a progressive UI element may not
                    need labels for any of the sub-elements. This is acceptable as long as it's clear to the user what he or she
                    is inputting.
                </li>
            </ol>
        </p>
    </div>
</div>