<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Radio Buttons</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            Radio buttons allow the user to select one option from a set. Use radio buttons for exclusive selection
            if you think that the user needs to see all available options side-by-side. Otherwise, consider a drop-down,
            which uses less space then displaying all options. Radio buttons emphasize all options equally, and that may
            draw more attention to the options than necessary. Consider using other controls, unless the options deserve
            extra attention from the user. For example, if the default option is recommended for most users in most situations,
            use a drop-down list instead.
        </p>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                <label class="cc=control-label control-label-required">Label:</label>
                {{cc-radio-button name="choice" value="first" title="Value 1" isChecked=true}}
                {{cc-radio-button name="choice" value="second" title="Value 2"}}
                {{cc-radio-button name="choice" value="third" title="Value 3"}}

                The {{choice}} radio button is selected.
            {{/cc-form}}
        </div>
    </div>
</div>