<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Search</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>
                    The standard text field label is removed from Search in order to maximize vertical space. The function
                    of the UI element is conveyed via the icon to the right.
                </li>

                <li>
                    For text fields, include an example of an appropriate answer. Make sure the examples are in grey and italic so users
                    don't think the field is pre-populated.
                </li>

                <li>
                    Text cursor (pipe symbol) appears on focus. Example text disappears.
                </li>

                <li>
                    Once the user starts typing, an "X" appears. Clicking the "X" clears the field and returns it to is previous state.
                </li>
            </ol>
        </p>
    </div>
</div>