<div class="details-title">{{#link-to "tables" class="tool-tip top" data-tip="Back to Tables"}}Tables{{/link-to}} &gt; Table Pagination Guidelines</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>Display number of results in view as well as total results.</li>
                <li>
                    Row option display: 10, 25, 50, 100, 250. Default is 50. Changing the number of rows updates the number of page rows
                    and pagination.
                </li>
                <li>Clicking "First" will go to the first page in the result set.</li>
                <li>Clicking "Prev" will go to the previous page in the result set.</li>
                <li>See the following "Pagination - Button Logic" section.</li>
                <li>Clicking "Next" will go to the next page in the result set.</li>
                <li>Clicking "Last" will go to the last page in the result set.</li>
            </ol>
        </p>

        <h2>Pagination Control Placement</h2>

        <p class="description">
            <ol>
                <li>{{#cc-text-note note="We can pin the pagination controls to the bottom of the application like in SwitchStream. This way, they are always visible."}}Pagination controls appear beneath the table when displaying rows 10, 25, or 50. Pagination controls appear beneath the table.{{/cc-text-note}}</li>
            </ol>
        </p>

        <h2>Pagination Button Logic</h2>

        <p class="description">
            <ol>
                <li>Clicking a page number updates the table and moves that number in the center position of the numerical series.</li>
                <li>The exceptions to this rule are page numbers 1-2 and the last two pages in the string. These numbers retain their
                    positions:</li>
                <li>When displaying the last five pages in the result set, remove the ellipsis (...) from the UI:</li>
                <li>When displaying the first page in a result set, be sure to disable the "First" and "Prev" buttons:</li>
                <li>When displaying the last page in a result set, be sure to disable the "Next" and "Last" buttons:</li>
            </ol>
        </p>
    </div>
</div>