<div class="details-title">{{#link-to "tables" class="tool-tip top" data-tip="Back to Tables"}}Tables{{/link-to}} &gt; General Table Guidelines</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>
                    Indicate which column is active and include ascending/descending sort control where applicable. Make active
                    column header text label bold.
                </li>

                <li>
                    Units/type should reside in the table body, not in the column header. De-emphasize visually.
                </li>

                <li>
                    Try to maximize horizontal space by reducing widths to fit the data.
                </li>

                <li>
                    Default column sorting is done on a case-by-case basis. As a general rule, use Date Modified as the default
                    active column. We do this to allow users to see newly created content at the top of the table as a result
                    of creating or editing.
                </li>
            </ol>
        </p>

        <h2>Background Colors</h2>
        <p class="description">
            <ol>
                <li>White appears first.</li>
                <li>Alternating row background color (#f5f5f5).</li>
            </ol>
        </p>

        <h2>Buttons</h2>
        <p class="description">
            <ol>
                <li>Appear in the far right column.</li>
                <li>No column header.</li>
                <li>Ordering - See Ordering in {{#link-to "buttons"}}Button{{/link-to}}</li>
            </ol>
        </p>

        <h2>Date/Time Columns</h2>
        <p class="description">
            <ol>
                <li>Time zone should appear in column header.</li>
                <li>Use proper date/time formatting (following is example for the United States).</li>
            </ol>
        </p>
    </div>
</div>