<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Text Fields</div>
<div class="details-container">
    <div class="details-content-area">
        <h2>Overview</h2>

        <p class="description">
            <ol>
                <li>Prefix the input labels for required values with a red asterisk (<span class="required-field-asterisk">*</span>).
                    Whenever required fields are present include the text, "Required Fields" at the bottom of the form.
                </li>

                <li>
                    Sometimes the input field may not be familiar to the user. In these cases it's good to include a
                    {{#link-to "help-flyouts"}}help flyout{{/link-to}}.
                </li>

                <li>
                    Text field lengths should be appropriate for the answer being input, and provide enough room for a
                    complete answer. For example, the name of a television series could be quite long, so a text field
                    that holds a series' name should be long enough so that the entire name is visible. Another example
                    is a Zip code. Since--most--Zip codes are five digits long, a text field to hold a Zip
                    code needs only be long enough to hold five characters. Input fields provide people with a way to
                    answer the questions we ask and they also provide us with an opportunity to help people with their
                    answers.
                    <div class="example-ui">
                        {{#cc-form class="form-horizontal"}}
                            {{cc-text-field
                                fieldClasses="col-md-5"
                                id="series-name"
                                label="Series Name"}}
                            {{cc-text-field
                                fieldClasses="col-md-2"
                                id="zip-code"
                                label="Zip Code"}}
                        {{/cc-form}}
                    </div>
                </li>

                <li>
                    Text labels should be clear and concise.
                </li>

                <li>
                    Input labels should end with a colon.
                </li>

                <li>
                    Place the text "<span class="required-fields-indicator">*Required Fields</span>"
                    beneath a form's action components (buttons or links) when the form contains one or more
                    required values.

                    <div class="example-ui">
                        {{#cc-form class="form-horizontal"}}
                            {{cc-text-field
                                emptyValueMessage="Label is required"
                                fieldClasses="col-md-4"
                                id="label-field"
                                isRequired="true"
                                label="Label"
                            }}
                            {{cc-text-field
                                fieldClasses="col-md-6"
                                id="series-name-field"
                                label="Series Name"
                            }}
                            {{#cc-button-bar}}
                                {{cc-primary-button}}
                                <a>Cancel</a>
                            {{/cc-button-bar}}
                            {{cc-required-fields-indicator}}
                        {{/cc-form}}
                    </div>
                </li>
            </ol>
        </p>

        <h2>Restriction Text</h2>

        <p class="description">
            In some cases, we have restrictions for an input field. For example, special characters or character limits.
            This text should appear beneath the input field. It should be gray (Hex #808080) and italic.
        </p>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                {{cc-text-field
                    emptyValueMessage="Label is required"
                    fieldClasses="col-md-4"
                    id="label-field2"
                    label="Label"
                    restriction="No special characters or foreign accents: &amp; #, @, %, &agrave;, &ntilde;, &egrave;"
                }}
            {{/cc-form}}
        </div>

        <h2>Hint Text</h2>

        <p class="description">
            In some cases, it's good to include an example of an appropriate answer. These should be for fields where
            the input value/text may not be obvious. Make sure the examples are in grey (Hex #808080) and italic so users
            don't think the field is populated. Hint text should disappear when the user enters text, and the hint text
            should reappear when the field is blank.
        </p>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                {{cc-text-field
                    emptyValueMessage="Label is required"
                    fieldClasses="col-md-6"
                    id="label-field3"
                    label="Label"
                    placeholder="example: www.namegoeshere.com"
                }}
            {{/cc-form}}
        </div>

        <h2>Pre-populated Input Text/Values</h2>

        <p class="description">
            In some cases, it's good to pre-populate the text field with a real value that will remain in the
            field on focus. This should be used for commonly entered text or values where:
            <ol>
                <li>Users may not be particular about the input value</li>
                <li>Users fill out the form on a regular basis and want to get through it faster</li>
            </ol>
        </p>

        <div class="example-ui">
            {{#cc-form class="form-horizontal"}}
                {{cc-text-field
                    fieldClasses="col-md-4"
                    id="label-field4"
                    label="Label"
                    value="Pizza"
                }}
            {{/cc-form}}
        </div>
    </div>
</div>