<div class="details-title">{{#link-to "form-elements" class="tool-tip top" data-tip="Back to Form Elements"}}Form Elements{{/link-to}} &gt; Tip Flyouts</div>
<div class="details-container">
    <div class="details-content-area">
        <p class="description">
            <ol>
                <li>
                    Use tip flyouts to highlight new UI elements or to help users understand the consequence of an action. For example,
                    a new product release may include new UI elements. They help onboard the user and make them aware that there are
                    additions ot changes to the UI. Tip flyouts are also good to use when users perform an action where the results
                    may not be apparent on the page currently being viewed. For example, changing a setting that would affect page layout
                    or UI elements.
                </li>

                <li>
                    Tip flyouts appear next to the element they are referencing.
                </li>
            </ol>
        </p>
    </div>
</div>